.user img {
  width: 50%;
  height: fit-content;
  border-radius: 100%;
  border: 4px solid #644aff;
}
.user {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #2b3566;
  padding: 20px;
  border-radius: 5px;
}

.location svg {
  fill: #4ed8c7;
  font-size: 1.5em;
}

.location {
  display: flex;
  gap: 5px;
  align-items: center;
}

.followAndFollowing {
  display: flex;
  gap: 10px;
  font-weight: bold;
}
.follow {
  border-right: 2px solid white;
  padding-right: 10px;
}

.followAndFollowing div p:nth-child(2) {
  background-color: #4ed8c7;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.user a {
  margin-top: 10px;
  background-color: #644aff;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}
